
p{padding: 0px; margin: 0px;}
a{padding: 0px; margin: 0px; outline: none;}
ul{ list-style: none; padding: 0px; margin: 0px;}
ul li{ padding: 0px; margin: 0px;}
h1, h2, h3, h4, h5, h6{padding: 0px; margin: 0px;}
a:hover{ outline: none !important; text-decoration: none;}
a:active{ outline: none !important; text-decoration: none;}
a:focus{ outline: none !important; text-decoration: none;}
input[type="text"]::-webkit-input-placeholder { opacity: 1; }
input[type="text"]::-moz-placeholder { opacity: 1; }
input[type="search"]::-webkit-input-placeholder { opacity: 1; }
input[type="search"]::-moz-placeholder { opacity: 1; }
input[type="email"]::-webkit-input-placeholder { opacity: 1; }
input[type="email"]::-moz-placeholder { opacity: 1; }
input[type="tel"]::-webkit-input-placeholder { opacity: 1; }
input[type="tel"]::-moz-placeholder { opacity: 1; }
textarea::-moz-placeholder { opacity: 1; }
textarea::-webkit-placeholder { opacity: 1; }
body { font-family: 'Rubik', sans-serif; background:#fff;}


.banner {
	width: 100%;
  margin: auto;
  padding:20px 0 10px 0;

  }
  .slide {
    position: relative;
  }
  .banner_content {
    position: absolute;
    bottom: 40px;
    width:100%;
    padding: 0 120px;
    color: #fff;
    text-align: center
  }
  .banner_content h1 {
    font-size: 60px;
    line-height: 62px;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .banner_content p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500
  }
  .banner img {
    width:100%
  }
  .slick-slide:not(.slick-center) {
	z-index: 0;
	transform: scale(0.92);
  }
  .slick-active.slick-center+.slick-slide+.slick-slide {
	z-index: 1;
  }
  .slick-active.slick-center+.slick-slide,
  .slick-center+.slick-cloned {
	z-index: 2;
  }
  .slick-center {
	z-index: 3;
  }
  .slick-slide {
	position: relative;
	transition: transform 80ms;
  }
  .slide img {
	position: relative;
	transform: translateX(-50%);
	left: 50%;
  }
  .slick-prev {
	left: 6% !important;
  }
  .slick-next {
	right: 6% !important;
  }
  @media only screen and (min-width:1499px) and (max-width:2000px){
    .slick-list.draggable {
      padding: 0px 23.3% !important;
  }
  }
  @media only screen and (min-width:1380px) and (max-width:1498px){
    .slick-list.draggable {
      padding: 0px 14.5% !important;
  }
  }
 
  .slick-list.draggable {
    padding: 0px 12% !important;
  }


  .banner .slick-prev {
    background: url(../images/prev.png) 0 0 no-repeat;
    height: 68px;
    width:24px
  }
  .banner .slick-next {
    background: url(../images/next.png) 0 0 no-repeat;
    height: 68px;
    width:24px
  }
  .banner .slick-prev:before,   .banner .slick-next:before {
    display: none
  }

  .banner .slick-slider {
    margin: 0;
  }

  .admeme .slick-prev {
    background: url(../images/prev.png) 0 0 no-repeat;
    height: 48px;
    width:24px;
    margin-top: -14px;
    left: 20px !important;
    background-size:70% 
  }
  .admeme .slick-next {
    background: url(../images/next.png) 0 0 no-repeat;
    height: 48px;
    width:24px;
    margin-top: -14px;
    right: 20px !important;
    background-size:70% 
  }
  .admeme .slick-prev:before,   .admeme .slick-next:before {
    display: none
  }
  
  @media (min-width: 300px) and (max-width:991px) {
	  .slide img {
		  width: 100%;
		 
  }
  .slick-list.draggable {
    padding: 0 10% !important;

  }

  }


header {
  margin: 0;
  padding: 0;
}
.logo {
  margin: 0;
  padding:35px 0;
  text-align: center
}
 
nav {
  margin: 0;
  padding: 0
}

nav ul {
  margin: 0;
  padding: 0
}

nav ul li {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  position: relative;
}
nav.navbar-expand-md ul.navbar-nav li a.nav-link {
  margin: 0 20px;
  padding: 0 0;
  color: #4A4A4A;
  border-bottom: 2px solid #fff
}

nav.navbar-expand-md ul.navbar-nav li a.nav-link:hover, nav.navbar-expand-md ul.navbar-nav li.show a.nav-link,  nav.navbar-expand-md ul.navbar-nav li.active a.nav-link {
  border-bottom: 2px solid #00D0A2
}
.right_header{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-nav li:hover .dropdown-menu {
  display: block
}
.dropdown-menu {
  padding-bottom: 0;
}
.search_icon {
  float: left;
  margin:0 15px 0 0;
  padding: 0 15px 0 0;
  color: #4a4a4a;
  cursor: pointer
}
.search_icon:after {
  width: 2px;
  height: 24px;
  margin-left: 17px;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0; 
  background-color: #00D0A2;
  position: absolute;
}
.socail_network {
  float: left;
}
.socail_network ul li:first-child {
  padding-right: 10px;
}
.socail_network ul li {
  float: left;
  padding: 0 0 0 5px;
  color: #4a4a4a;
  font-weight: 400
}
.socail_network ul li a {
  color: #fff;
  background-color: #00D0A2;
  display: block;
  width:24px;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  transition: all .6s;
}

/*
.socail_network ul li a:hover {
  background-color: #4a4a4a;
  transition: all .6s;
}
*/

header .dropdown-toggle:after {
  width: 2px;
  height: 100%;
  margin-left: 17px;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0; 
  background-color: #00D0A2;
  position: absolute;
  right:0;
  top:0;
}

header .dropdown-toggle:before {
  width: 2px;
  height: 100%;
  left: 0;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0; 
  background-color: #00D0A2;
  position: absolute;
}

header  .dropdown-menu {
  border: 0;
  border-radius: 0;
  text-align: center
}

header .dropdown-item {
  border-bottom:1px solid #424242; 
  padding: 4px 0;
  font-weight: 500;
  font-size: 15px;
  color: #4a4a4a;
}
header .navbar {
padding: 0 55px 0 35px;
}
.title_text {	
  color: #4A4A4A;	
  font-size: 24px;	
  font-weight: 300;	
  letter-spacing: 6.67px;	
  line-height: 28px;	
  text-align: center;
  background: url(../images/title_border.png) 0 center repeat-x;
  margin-bottom: 30px;
}

.title_text span {	
  background: #fff;
  padding: 0 20px;
}

.articulados {
  padding: 60px 0 0 0
}

.articulados_inner {
  padding: 35px 0 0 0;
  margin: 0;
}

.articulados_inner img {
  width: 100%;
  height: auto;
}
.articulados_pict {
  overflow: hidden;
}

.tag {
  padding: 24px 0 16px 0;
  position: relative;
}
.tag.no-padd {
  padding-top: 0
}
.tag p{
  float: left;
  color: #4a4a4a;	
  font-size: 20px;	
  line-height: 24px;
}

.tag p a{
  color: #00D0A2;	
}

.tag p a:hover{
  text-decoration: underline
}

.tag_icon {
  float: right;
}
.tag_icon img {
  height: 24px;
  width:auto
}

.articulados_content {
  min-height: 260px;
}

.articulados_content h2 {
  color: #000000;	
font-size: 40px;	
font-weight: 700;	
line-height: 41px;
margin-bottom: 10px;
}
.articulados_content h2 a:hover {
  color: #fff;	
  background: #00D0A2;	
}
.articulados_content h2  a{
  color: #000000;	
}

.articulados_content p {	
  color: #4A4A4A;	
  font-size: 16px;	
  line-height: 24px;
}

.articulados_bttn a {	
  color: #00D0A2;	
  font-size: 14px;	
  font-weight: 500;
  line-height: 24px;}
.left_link {
    float: left;
}
.left_link a {
  transition: all .6s;
}
.left_link a:hover {
  transition: all .6s;
  padding-left: 10px
}
.right_link {
float: right;
}
.right_link a {
  transition: all .6s;
}
.right_link a:hover {
  transition: all .6s;
  padding-right: 10px
}
.dialogart {
  padding:60px 0 0 0;
}
.dialogart_pict img{
  width:100%
}

.dialogart_inner {
  padding:42px 0 0 0;
}
.dialogart_pict {
  overflow: hidden;
}

.dialogart .tag {
  padding-top: 0;
}

.dialogart  .articulados_content {
  min-height: 243px;
}

.ex-nihil, .admeme {
  padding:60px 0 0 0;
}

.ex-nihil_inner {
  padding: 38px 0 0 0
}
.ex-nihil_pict {
  overflow: hidden;
}
.ex-nihil_pict img {
  width:100%;
  height: auto;
}

.ex-nihil_inner h2 {
  font-size: 24px;
}

.ex-nihil_inner h2 a {
  color:#000;
}
.ex-nihil_inner h2 a:hover {
  color: #fff;	
  background: #00D0A2;	
}
.admeme_inner{
  padding: 37px 0 64px 0;
}

.admeme_pict {
  border: 1px solid #000;
  overflow: hidden;
}

.admeme_pict img {
  width:100%;
}

footer {
  background: #4a4a4a;
  text-align: center;
  padding: 25px 0;
  color:#fff;
  font-size: 15px;
  font-weight: 500
}

.footer_logo {
  padding: 75px 0;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.footer_logo a {
  color: #fff;
  text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  display: block
}

.footer_nav {
  padding: 0;
  margin: 0;
}

.footer_nav ul li {
  padding: 0 7px;
  margin: 0;
  display: inline-block;
  color: #9B9B9B
}
.footer_nav ul li a {
  color:#9B9B9B
}

.footer_nav ul li a:hover {
  color:#fff
}

.search_open {
  position: fixed;
  width:100%;
  height: 100%;
  left:0;
  top:0;
  background:#00d0a2;
  z-index: 99;
  display: none;
  padding: 0 10%;
  
}
.search_open_in {
display: flex;
flex-direction: column;
justify-content: center;
width:100%;
height: 100%;
}

.search_open input[type="text"] {
  background: none;
  border: none;
  padding: 0 10px;
  height: 60px;
  width:100%;
  border-bottom: 2px solid #fff;
  float: left;
  line-height: 60px
}
.search_close {
  float: right;
  margin: -50px 20px 0 0;
  cursor: pointer;
}


.tab_search, .admeme_inner_mobile, .mobile_menu {
  display: none
}



.articulados_page {
  padding-bottom: 60px;
}
.articulados_big .articulados_content h2 {
  font-size: 56px;
  line-height: 62px;
}
.articulados_sidebar {
  padding: 35px 0 0 0;
}
.articulados_sidebar h1 {
  color: #4A4A4A;	
  font-size: 24px;	
  font-weight: 300;	
  letter-spacing: 6.67px;	
  line-height: 28px;	
  text-align: center;
  border-top:1px solid #9B9B9B;
  border-bottom:1px solid #9B9B9B;
  padding: 5px 0
}
.articulados_sidebar h1 span {
  border-top:1px solid #9B9B9B;
  border-bottom:1px solid #9B9B9B;
  padding: 10px 0;
  display: block
}

.articulados_sidebar ul li {
  float: left;
  width:100%;
  border-bottom:1px solid #9B9B9B;
  padding: 20px 0
}
.sidebar_pict {
  width:97px;
  margin: 0 15px 0 0;
  padding: 0;
  float: left;
}
.sidebar_pict img{
  width:100%
}

.sidebar_text h2 {
  color: #000000;
  font-size: 18px;	
  font-weight: bold;	
  line-height: 22px;
  padding: 0 0 5px 0;
  height: 47px;
  overflow: hidden;;
}

.sidebar_text h2 a {
  color: #000000;
  font-size: 18px;	
  font-weight: bold;	
  line-height: 22px;
  padding: 0
}

.sidebar_text h2 a:hover {
  color: #fff;
  background-color: #00D0A2;
  padding: 0;
}
.sidebar_text a {
  color: #00D0A2;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  transition:all .3s
}
.sidebar_text a:hover {
  padding-left: 10px;
  transition:all .3s
}
.title_text.open_articulados {
  margin-top: 30px;
}

.title_text.open_articulados span {
  cursor: pointer;
}
.hide {
  display: none
}

.social_share {
  
  width:0%;
  height:40px;
  margin-top: -5px;
  background: #00d0a2;
  border-radius:5px;
  position:absolute;
  overflow: hidden;
  right:0;
  transition: all .2s;
}
.close_share {
  width:20px;
  right:0;
  margin: 5px;
  position: absolute;
  top: 2px;
}
.close_share img {
  width:100%
}
.social_share ul {
  text-align: center;
  padding: 9px 0 0 0;
}
.social_share ul li {
  padding: 0 5px;
  color: #4a4a4a;
  font-weight: 400;
  display: inline-block;
}
.social_share ul li a {
  color: #00D0A2;
  background-color: #fff;
  display: block;
  width:24px;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  transition: all .6s;
}

/*
.social_share ul li a:hover {
  background-color: #4a4a4a;
  transition: all .6s;
}
*/

.ver-todo-inner {
  width:100%;
  overflow-y: auto;
  background: #00d0a2;
  top: 0;
  height: 100vh;
  display: block;
  left: 0;
  z-index: 99999;
  position: fixed;
  display: none;
}
.todo_logo {
  padding: 30px 0;
  text-align: center
}

.search_todo {
  border-bottom: 2px solid #fff;
  padding: 15px 0;
}
.search_todo_in {
  float: left;
  border-right:2px solid #fff;
  color:#4a4a4a;
  padding: 0 10px 0 0;
}
.todo_social {
  float: left;
  margin:0 0 0 10px;
}
.todo_social ul {
  padding: 0 0 0 0;
}
.todo_social ul li {
  padding: 0 5px;
  color: #4a4a4a;
  font-weight: 400;
  display: inline-block;
}
.todo_social ul li a {
  color: #00D0A2;
  background-color: #fff;
  display: block;
  width:24px;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  transition: all .6s;
}

/*
.todo_social ul li a:hover {
  background-color: #4a4a4a;
  transition: all .6s;
}
*/

.todo_close {
  float: right;
  cursor: pointer
}
.todo_close img {
  width:24px
}

.todo-1 {
  margin: 0 0 0 0;
  padding: 30px 0;
}

.todo-1 ul {
  margin: 0 0 0 0;
  padding: 0 0;
}
.todo-1 ul li {
  margin: 0 0 0 0;
  padding:20px 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px
}

.todo-1 ul li.todo_sm {
  font-weight: 400;
}

.todo-1 ul li a {
  color:#4a4a4a;
}
.todo-1 ul li a:hover {
  color:#fff;
}

.todo-2 {
  margin: 0 0 0 0;
  padding: 30px 0;
  border-top:2px solid #fff 
}

.todo-2 ul {
  margin: 0 0 0 0;
  padding: 0 0;
  
}
.todo-2 ul li {
  margin: 0 0 0 0;
  padding:20px 0 20px 0;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  float: left;
 width: 20%
}

.todo-2 ul li a {
  color:#4a4a4a;
}
.todo-2 ul li a:hover {
  color:#fff;
}


.todo-3 {
  margin: 0 0 0 0;
  padding: 30px 0;
  border-top:2px solid #fff 
}

.todo-3 ul {
  margin: 0 0 0 0;
  padding: 0 0;
  text-align: center
  
}
.todo-3 ul li {
  margin: 0 0 0 0;
  padding:20px;
  font-size: 40px;
  font-weight: 500;
  display: inline-block;
}

.todo-3 ul li a {
  color:#4a4a4a;
}
.todo-3 ul li a:hover {
  color:#fff;
}
.top_title_text {
  color: #4A4A4A;	
  font-size: 20px;	
  font-weight: 300;	
  letter-spacing: 5.56px;	
  line-height: 26px;	
  text-align: center;
  border-bottom:1px solid #4A4A4A;
  padding-bottom: 5px;
}
.top_pagination {	
  color: #4a4a4a;	
  font-size: 20px;	
  font-weight: 300;	
  line-height: 24px;	
  text-align: center;
  padding: 10px 0
}
.top_pagination ul {	
  text-align: center
}
.top_pagination ul li {	
  display: inline-block;
  border-right: 1px solid #4a4a4a;
  padding: 0 10px
}
.top_pagination ul li:last-child {
  border: none
}
.top_pagination a {	
  color: #00D0A2;	
}
.top_pagination a:hover {
  text-decoration: underline
}

.bottom_pagination {	
  color: #4a4a4a;	
  font-size: 20px;	
  font-weight: 300;	
  line-height: 24px;	
  text-align: center;
  padding: 10px 0;
  background: url(../images/title_border.png) 0 center repeat-x;
  margin-top: 30px;
}
.bottom_pagination ul {	
  text-align: center;
  background: #fff;
  display: inline-block;
  padding: 0 5px
}
.bottom_pagination ul li {	
  display: inline-block;
  border-right: 1px solid #4a4a4a;
  padding: 0 10px
}
.bottom_pagination ul li:last-child {
  border: none
}
.bottom_pagination a {	
  color: #00D0A2;	
}
.bottom_pagination a:hover {
  text-decoration: underline
}
.opus_main {
  padding: 30px 0
}

.opus p {
  color: #4A4A4A;
  font-size: 20px;
  line-height: 34px;
  padding-bottom: 30px;
}
.pict_title{
  color: #4A4A4A;
  font-size: 14px;	
  font-weight: bold;	
  line-height: 34px;
  padding-bottom: 30px;
  display: block;
}
.opus ul li {
  color: #4A4A4A;
  font-size: 20px;
  line-height: 34px;
  padding-bottom: 30px;
  background: url(../images/bullet.png) 0 11px no-repeat;
  padding-left: 20px
}
.opus h3 {max-width: 551px;	
  color: #000000;	
  font-size: 32px;	
  font-weight: bold;	
  line-height: 42px;	
  text-align: center;
margin: 0 auto;
padding:15px 0 30px 0}

.opus h2 {	
  color: #000000;	
  font-size: 56px;	
  font-weight: bold;	
  line-height: 62px;
}

.opus h2 a {	
  color: #000000;	
}
.compaire { 
  float: right;
}

.compaire ul li {
  background: none;
  display: inline-block;
  padding: 0 0 0 5px;
  color: #4a4a4a;
  font-weight: 300;
  font-size: 16px;
}
.compaire ul li a {
  color: #fff;
  background-color: #00D0A2;
  display: block;
  width:24px;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  transition: all .6s;
  font-size: 16px;
}

/*
.compaire ul li a:hover {
  background-color: #4a4a4a;
  transition: all .6s;
}
*/

.link_tag {
  float: left;
  color: #4a4a4a;	
  font-size: 20px;	
  line-height: 24px;
}

.link_tag a{
  color: #00D0A2;	
}

.link_tag a:hover{
  text-decoration: underline
}
.autores_main {
  padding: 10px 0 0 0;
}
.autores_inner {
  margin:50px 0 0 0;
}
.autores_inner h2 {
  color: #4A4A4A;	
  font-size: 24px;	
  font-weight: 300;	
  letter-spacing: 6.67px;	
  line-height: 31px;	
  text-align: center;
  padding: 10px 0 15px 0;
}
.autores_inner img {
  width:100%;
  height: auto;
}

.autores_inner a {
  color: #00D0A2;
  font-size: 14px;	
  font-weight: 500;	
  line-height: 24px;	
  text-align: center;
  display: block;
  padding: 0 0;
}
.apellido_slider {
  padding: 60px 0 0 0;
}
.autores_inner a:hover {
  text-decoration: underline
}
.apellido_slideshow img {
  float: left;
  margin: 0 0 0 0;
  padding: 0;
  width:324px
}

.slide_text {
  float: right;
  width: 474px;
}

.slide_text p{
  color: #4A4A4A;	
  font-size: 17px;	
  line-height: 26px;
  padding: 0 0 20px 0
}

.slide_text p a {	
  color: #00D0A2;
  font-size: 14px;	
  font-weight: 500;	
  line-height: 24px;
  transition:all .3s
}

.slide_text p a:hover {	
  padding-left:10px; 
  transition:all .3s
}


.apellido_slider .slick-prev:before, .apellido_slider .slick-next::before {
  display: none;
}

.apellido_slider .slick-prev {
  background: url(../images/prev-dark.png) 0 0 no-repeat;
  height: 68px;
  width: 24px;
  left: -14% !important;
  top: 30%;
}
.apellido_slider .slick-next {
  background: url(../images/next-dark.png) 0 0 no-repeat;
  height: 68px;
  width: 24px;
  right: -14% !important;
  top: 30%;
}
.dialogart_main {
  padding:30px 0
}
.dialogart_main .articulados_content {
  min-height: 240px;
} 

.rectangle-3 {	height: 356px;	width: 100%;	background-color: #D8D8D8; margin: 24px 0 0 0}

/* aa */

.cta-container {
  display:table;
  width: 100%;
  height: 50%;
}

.cta-container p {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  margin:5px 0;
}

.grid-sizer, .item {
  width:22.8%;
  margin:14px 10px;
  overflow: hidden;

}
.item {
  border: 1px solid #4A4A4A;
}
#container {
  margin: 0 auto;
}

.gutter-sizer {
  width: 0.5%;
}

.item img {
  max-width: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(256,256,256,0.5);
    position: absolute;
    top: 0;
    left: 0; 
    text-decoration: none;
    color: #fff;
    display: none;
}


.overlay .title {
    text-align: center;
    font-size: 18px;
    background: #6d6d6d;
    margin: 0px 0 5px;
}

.overlay .description {
    position: absolute;
    bottom: 2px;
    left: 0;
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    margin: 0;
}

.overlay .description a, .overlay .description a:visited {
  color: #f8ede9;
  text-decoration: none;
  display:block;
}

.overlay .description a:hover {
  color: #666666;
}

.overlay .description p {
  text-align: center;
  margin: 0.5em 0;
}

.item:hover .overlay {
    display: block;
}
.admeme_big img{
  border: 1px solid #4A4A4A;
}
.admeme_big{
  padding: 60px 0 0 0;
}
.admeme_sidebar {
  padding: 60px 0 0 0;
}
.admeme_sidebar_coltroler {
  margin: 0;
  padding:15px 0;
  border-top: 1px solid #9B9B9B;
  border-bottom: 1px solid #9B9B9B;
  color: #4A4A4A;
  font-size: 16px;
}
.previos__coltroler {
  margin: 0;
  padding: 0;
  float: left;
  cursor: pointer;
}
.next__coltroler {
  margin: 0;
  padding: 0;
  float: right;
  cursor: pointer;
}
.previos__coltroler:hover, .next__coltroler:hover  {
color: #00D0A2;
}
.copy_link {
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #9B9B9B;
}
.copy_link a {
  margin: 0;
  padding: 0 0 0 30px;
  color: #4A4A4A;
  font-size: 16px;
  background: url(../images/link_icon.png) 0 center no-repeat;
  display: block;
  background-size: 20px;
}
.copy_link a:hover {
  color: #00D0A2;
}
.compartir_social {
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #9B9B9B;
}
.compartir_social p{
  margin: 0;
  padding: 0 6px 0 0;
  color: #4A4A4A;
  font-size: 16px;
  float: left;
}
.social_icon {
  margin: 0;
  padding: 0;
  float: left;
}
.social_icon ul {
  margin: 0;
  padding: 0;
}
.social_icon ul li{
  padding: 0 3px;
  color: #4a4a4a;
  font-weight: 400;
  float: left;
  border: none;
  width: auto;
}
.social_icon a {
  color: #fff;
  background-color: #00D0A2;
  display: block;
  width: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 3px;
  transition: all .6s;
}

/*
.social_icon a:hover {
  background-color: #4a4a4a;
}
*/

.sitebar_category {
  margin: 0;
  padding:15px 0;
}
.sitebar_category ul {
  margin: 0;
  padding: 0;
}
.sitebar_category ul li{
  padding: 0 0;
  margin:4px;
  color: #4a4a4a;
  font-weight: 400;
  float: left;
  border: none;
  width: auto;
}
.sitebar_category a {
  color: #fff;
  background-color: #00D0A2;
  display: block;
  border-radius:4px;
  transition: all .6s;
  font-size: 16px;
  margin: 0;
  padding:3px 8px;
}
.sitebar_category a:hover {
  background-color: #4a4a4a;
}
.mob {
  display: none;
}
.desk {
  display: block;
}
.title_text.articulados_title br{
  display: none;
}

.apellido_slider {
  position: relative;
}
.page-prev, .page-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.apellido_slider .page-prev {
  height: 68px;
  width: 24px;
  left: 0;
  top: 50%;
  margin-top: -34px;
}
.apellido_slider .page-next {
  height: 68px;
  width: 24px;
  right:0;
  top: 50%;
  margin-top: -34px;
}

.autor-y-articulos-page .top_title_text br {
  display: none;
}
.top_bar {
  position: relative;
}
.share_sec {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.manifiesto .top_title_text {
  margin-bottom: 50px;
}

.manifiesto p {
  color: #4A4A4A;
  font-size: 20px;
  line-height: 34px;
  padding-bottom: 30px;  
}

.manifiesto .first-image {
  margin-top: 70px;
}

.exnihil h2 {
  font-size: 24px;
  line-height: 28px;
}

.exnihil .articulados_content {
  min-height: 80px;
}

.articulo-exnihil .articulados_inner h2 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 15px;
  margin-bottom: 30px;  
}

.articulo-exnihil .opus_content a {
  color: #00D0A2;
}

.tag-page .top_title_text {
  margin-bottom: 50px;
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1165px;
  }
}

@media (max-width: 1199px) {
  nav ul li {
    font-size: 13px;
}
nav.navbar-expand-md ul.navbar-nav li a.nav-link {
  margin: 0 15px;
}
.banner_content {
  padding: 0 40px;
}
.banner_content h1 {
  font-size: 40px;
  line-height: 42px;
}
.tag p {
  font-size: 16px;
}
.articulados_content h2 {
  font-size: 30px;
  line-height: 31px;
}
.articulados_big .articulados_content h2{
  font-size: 30px;
  line-height: 31px;
}
.articulados_content h2.highlight a {
  line-height: 38px;
}
.ex-nihil_inner h2 {
  font-size: 20px;
}
.articulados_page .articulados_content {
  min-height: auto;
}
}
@media (max-width: 1024px) {
  header .container {
    position: relative;
  }

.footer_logo {
  font-size: 30px
}
.navbar-expand-md .navbar-toggler {
  display: block;
  position: absolute;
  right: 10px;
}
.tab_search {
  display: block;
  position: absolute;
  right: 40px;
}
.navbar-expand-md .navbar-collapse {
  display: none !important;
  position: absolute;
  width:100%;
  left:0;
  top:50px;
  z-index: 99999;
  background: #fff;
}
.right_header, .search_icon:after, header .dropdown-toggle:after, header .dropdown-toggle:before {
  display: none
}

.logo {
  float: left;
  padding: 15px 0
}
.logo img {
 width:200px
}
.search_icon {
  margin: 0
}
header .navbar {
  padding: 0;
  position: absolute;
  right: 0;
  top: 56px;
  width:100%
}
.navbar-toggler-icon {
  display: contents
}
.navbar-expand-md .navbar-nav {
  border-top:2px solid #4a4a4a;
  flex-direction: column;
}
nav.navbar-expand-md ul.navbar-nav li a.nav-link {
  padding: 10px 0;
  text-align: center;
  border-color:#4a4a4a;
  margin: 0
}
.banner_content {
  position: relative;
  bottom: 0;
  color: #000;
}
.banner_content h1 {
 padding: 15px 0 10px 0;
  font-size: 32px;
  line-height: 32px;

}
.banner_content p {
  color:#4a4a4a;
  font-size: 16px;

}
.articulados_content.no-height {
  min-height: auto;
}
.banner .slick-prev, .banner .slick-next {
  top: 145px;
}
.banner .slick-prev{
  left:10px !important;
} 
.banner .slick-next {
  right: 10px !important;
}
.navbar-nav li:hover .dropdown-menu {
  display: none
}
.navbar-expand-md .navbar-collapse.show {
  display: block !important;
}
.mobile_menu {
  display: block
}
.apellido_slideshow img {
  float: none;
  margin: 0 auto 20px;
  display: block;
}
.slide_text {
  float: none;
  width: 100%;
}
}

@media (max-width: 1023px) {
.admeme_sidebar {
  padding: 0;
}
.admeme_sidebar_coltroler {
  border-top: none;
}
.grid-sizer, .item {
  width: 22%;
  margin:8px 6px;
}
.mob {
  display: block;
  padding-bottom: 20px;
  padding-top:5px;
}
.desk {
  display: none;
}
.articulados {
  padding: 0;
}
.listado_autores_page, .opus_shots_page, .section_dialogart_page {
  padding-top: 30px;
}
.articulados_page {
  padding-bottom:30px;
}
.autor-y-articulos-page {
  padding-top:30px;
}
.autor-y-articulos-page .apellido_slider {
  padding: 30px 0 0 0;
}
.slide_text {
  padding: 0 60px;
}
}

@media (max-width: 767px) {
  
.dialogart .tag {
  padding-top: 24px;
}
.dialogart .articulados_content {
  min-height: auto;
  padding-bottom:10px 
}
.banner_content h1 {
  font-size: 28px;
}
.banner_content {
  padding: 0 22px;
}
.footer_logo {
  line-height: 60px;
}
.slide img {
  height: 250px;
}
.slick-slide:not(.slick-center) {
  margin-top: -12px
}
.banner .slick-prev, .banner .slick-next {
  top: 100px;
}
.admeme_inner  {
  display: none
}
.admeme_inner_mobile {
  display: block;
  padding: 30px 0;
}
.admeme_inner_mobile ul {
  margin: 0;
  padding: 0;
}
.admeme_inner_mobile ul li {
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
  border: 1px solid #000;
  overflow: hidden;
}

.admeme_inner_mobile ul li img {
  width:100%;
}

.mobile_menu {
  display: block
}
.articulados_content {
  min-height: auto;
}
.search_close {
  margin: -30px 0 0 0;
}
.search_close img {
  width:20px
}
.tag.no-padd {
  padding-top: 24px;
}

.logo img {
  width: 100px;
}
header .navbar {
  top: 37px;
}
.articulados {
  padding: 30px 0 30px 0;
}
.grid-sizer, .item {
  width:47%;
  margin: 8px 6px;
}
.mob {
  display: block;
}
.desk {
  display: none;
}
.opus h2 {
  font-size: 32px;
  line-height: 36px;
  padding: 10px 0;
}
.opus p {
  font-size: 16px;
  line-height: 24px;
}
.listado_autores_page, .opus_shots_page, .section_dialogart_page {
  padding-top: 30px;
}
.top_pagination a.var {
  display: none;
}
.pict_title {
  padding-bottom: 20px;
}
.opus_shots_page .bottom_pagination {
  display: none;
}
.autor-y-articulos-page .top_title_text br {
  display: block;
}
.autor-y-articulos-page .apellido_slider {
  padding: 20px 0 0 0;
}
.slide_text {
  padding: 0;
}
.apellido_slider .page-prev, .apellido_slider .page-next {
  top: 19%;
  z-index: 999;
  margin-top: 0px;
}
.autor-y-articulos-page .top_title_text span {
  width: 112px;
  margin: 0 auto;
  display: block;
}
}


@media (max-width: 599px) {
.grid-sizer, .item {
width: 100%;
margin:7px 0 25px 0;
}
.articulados {
padding: 20px 0 30px 0;
}
.admeme_big {
padding: 40px 0 0 0;
}
.title_text.open_articulados.admeme_pages {
margin-top: 5px;
}
.footer_logo {
padding:50px 0;
}
.footer_nav ul li {
padding: 12px 0;
}
.mob {
display: block;
}
.desk {
display: none;
}
.opus_main {
padding: 0 0 0;
}
.articulados {
  padding: 0 0 30px 0;
}
.articulados_inner {
  padding: 25px 0 0 0;
}
.opus h2 {
  font-size: 31px;
}
.compaire {
float: none;
text-align: center;
}
.link_tag {
text-align: center;
float: none;
padding:15px 0;
}
.opus ul li {
font-size: 16px;
line-height: 24px;
}
.rectangle-3 {
  display: none;
}
.articulados_sidebar {
  padding: 0;
}
.apellido_slider .slick-next, .apellido_slider .slick-prev {
  display: none !important;
}
.slide_text {
  float: none;
  width: 100%;
  padding: 20px 0 0;
}
.apellido_slideshow img {
  float: none;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
}
.slick-list.draggable {
  padding: 0 0 !important;
}
.slide_text p a {
  text-align: center;
  display: block;
}
.slide_text p br {
  display: none;
}
.slick-slider {
  margin-bottom: 0;
}
.title_text.articulados_title br{
  display: block;
}
.title_text.articulados_title span {
  background:none;
  padding: 0 0;
}
.title_text.articulados_title {
  background: url(../images/title_border.png) 0 bottom repeat-x;
  padding-bottom:8px;
  font-size: 20px;
  line-height: 26px;
}
.autor-y-articulos-page {
  padding-top: 30px;
}
.autor-y-articulos-page .apellido_slider {
  padding: 0 0 0 0;
}
.listado_autores_page, .opus_shots_page, .section_dialogart_page {
  padding-top: 30px;
}
.top_pagination a.var {
  display: none;
}
.pict_title {
  padding-bottom: 20px;
}
.opus_shots_page .bottom_pagination {
  display: none;
}
.section_dialogart_page .tag.no-padd {
  padding-top: 0;
}
.section_dialogart_page .articulados_big .articulados_content h2 {
  font-size: 30px;
  line-height: 36px;
}
.section_dialogart_page .articulados_sidebar {
  padding: 30px 0 0;
}
.section_dialogart_page .left_link {
  padding-top: 15px;
}
.section_dialogart_page .dialogart_text .tag.no-padd {
  padding-top: 20px;
}
.section_dialogart_page .dialogart_inner {
  padding: 30px 0 0 0;
}
.section_dialogart_page .dialogart_main {
  padding: 0 0 30px;
}
.autor-y-articulos-page {
  padding-top: 20px;
}
.autor-y-articulos-page .apellido_slider {
  padding: 20px 0 0 0;
}
.apellido_slider .page-prev, .apellido_slider .page-next {
  top: 15%;
  z-index: 999;
  margin-top: 0px;
}
.apellido_slider .page-prev img, .apellido_slider .page-next img{
  width: 16px;
}
.apellido_slider .page-prev {
  left: 7px;
}
.apellido_slider .page-prev {
  right: 7px;
}
.slide_text p {
  font-size: 16px;
  line-height: 24px;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.row-flex .col-flex-top {
  order: 1;
}

.row-flex .col-flex-bottom {
  order: 2;
  margin-bottom: 20px;
  text-align: center;
}

.manifiesto .first-image {
  margin-top: 0;
}

.manifiesto p {
  font-size: 16px;
  line-height: 24px;
}

}










.mobile_menu {
  background: #00D0A2;
  padding: 10px;
  height: 100vh;
  position: fixed;
  top: 0;
  width:100%;
  overflow-y: auto;
  left: 0;
}
.m_logo {
  float: left;
  margin: 0;
  padding: 0;
}

.m_logo img {
  max-width:142px;
  height: auto;
  margin: 0;
  padding: 0;
}

.mm_search {
  position: absolute;
  right:65px;
  top:25px;
  cursor: pointer
}

.mm-0 .navbar-toggler {
  top:22px;
  color: #fff
}

.mm_search_open {
  position: absolute;
  width:96%;
  height: 40px;
  border: 1px solid #4a4a4a;
  right:2%;
  top:60px;
  background:rgba(255,255,255,1);
  z-index: 99;
  border-radius: 3px;
  display: none
}

.mm_search_open input[type="text"] {
  background: none;
  border: none;
  padding: 0 10px;
  height: 38px;
  width:80%;
  float: left;
}

.mm_search_open input[type="submit"] {
  background:url(../images/search_icon.jpg) center center no-repeat;
  border: none;
  padding: 0 0;
  height: 38px;
  width:38px;
  float: right;
  cursor: pointer;
  text-indent: -99999px;
  background-size:20px 
}
.mm-0 {
  padding: 0 0 10px 0
}
.mm-1 {
  margin:0;
  padding: 10px 0;
  border-top:1px solid #fff
}
.mm-1 ul {
  padding: 0;
  text-align: center
}
.mm-1 ul li {
  display: inline-block;
  padding: 0 5px;
  color: #4a4a4a;
  font-weight: 400
}
.mm-1 ul li a {
  color: #00D0A2;
  background-color: #fff;
  display: block;
  width:24px;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  transition: all .6s;
  font-size: 18px;
}

.mm-1 ul li a:hover {
  background-color: #4a4a4a;
  transition: all .6s;
}

.mm-2 {
  margin:0;
  padding: 10px 0;
  border-top:1px solid #fff
}
.mm-2 ul {
  padding: 0;
  text-align: center
}
.mm-2 ul li {
  display:block;
  padding: 16px 0;
  color: #4a4a4a;
  font-weight: 500;
  font-size: 28px
}
.mm-2 ul li a{
  color:#4a4a4a;
}

.mm-2 ul li a:hover{
  color:#fff;
}

.mm-3 {
  margin:0;
  padding: 10px 0;
  border-top:1px solid #fff
}
.mm-3 ul {
  padding: 0;
  text-align: center
}
.mm-3 ul li {
  display:block;
  padding: 16px 0;
  color: #4a4a4a;
  font-weight: 400;
  font-size: 28px
}
.mm-3 ul li a{
  color:#4a4a4a;
}

.mm-3 ul li a:hover{
  color:#fff;
}


.mm-4 {
  margin:0;
  padding: 10px 0;
  border-top:1px solid #fff
}
.mm-4 ul {
  padding: 0;
  text-align: center
}
.mm-4 ul li {
  display:block;
  padding: 16px 0;
  color: #4a4a4a;
  font-weight: 700;
  font-size: 40px
}
.mm-4 ul li a{
  color:#4a4a4a;
}

.mm-4 ul li a:hover{
  color:#fff;
}
.link_tag_m .tag_icon { display: none;}

@media only screen and (min-width:1024px) and (max-width:1180px){
  .articulados_content.no-height-m{
    min-height: 260px;
}
}

@media only screen and (min-width:300px) and (max-width:1023px){
  .articulados_home {
    padding: 50px;
  }
}
@media only screen and (min-width:340px) and (max-width:599px){
.apellido_slider .page-prev, .apellido_slider .page-next {
  top: 18%;
  z-index: 999;
  margin-top: 0px;
}
}

@media only screen and (min-width:300px) and (max-width:599px){
.slick-list.draggable {
padding: 0 8% !important;
}
.banner .slick-prev {
  left: 34px !important;
}
.banner .slick-next {
  right: 34px !important;
}
.articulados_home {
  padding: 50px 0;
}
.banner_content h1 {
  line-height: 34px;
}
.banner_content {
  padding: 0 12px;
}
.link_tag_m {
  position: relative;
}
.link_tag_m .link_tag {
  text-align: left;
  font-size: 19px;
}
.share_sec .tag_icon { display: none;}
.link_tag_m .social_share ul li {
  background: none;
  padding: 0 5px;
}
.link_tag_m .tag_icon {
  display: block;
  position: absolute;
  right:0px;
  top: 13px;
}
.link_tag_m .social_share {
  top: 8px;
}
.opus_shots_page .compaire {
  margin-bottom: 10px;
}
.articulados_content {
  margin-bottom: 12px;
}
.articulados_page {
  padding: 30px 0 30px 0;
}
.articulados_page .articulados_sidebar {
  padding: 30px 0 0;
}
.autor-y-articulos-page .top_title_text span {
  width: 112px;
  margin: 0 auto;
  display: block;
}
}
@media only screen and (min-width:1200px) and (max-width:1299px){
  .slick-list.draggable {
    padding: 0px 9.7% !important;
}
.slick-prev {
  left: 3% !important;
}
.slick-next {
  right: 3% !important;
}
}







